.delete-btn {
  float: right;
  color: #e74944;
  border: 1px solid #e74944;
  padding: 6px 30px;
  border-radius: 4px;
  cursor: pointer;
}

.delete-btn:hover {
  color: #000;
  border-color: #000;
}
